# Aviation Accident Prediction

### Summary:

- Data Sources:
    - Aviation Accidents: https://www.kaggle.com/khsamaha/aviation-accident-database-synopses?select=AviationData.csv
    - US Weather Events: https://www.kaggle.com/selfishgene/historical-hourly-weather-data
    - Flights: https://www.kaggle.com/zernach/2018-airplane-flights
    
- Environment Setup & Data Load:    
- EDA:
- Preprocessing:

## Environment Setup:

#### Import packages

In [1]:
import pandas as pd
import numpy as np
import os

#### Get Current Working Directory

In [2]:
print(os.getcwd())

C:\Users\thoma\Desktop\Rutgers MBS\Learning_Directory\Aviation Accident Prediction Project

In [3]:
wd = os.getcwd()

## Load Data:

#### Aviation Data:

In [4]:
accident_df = pd.read_csv(os.path.join(wd,'AviationData.csv'))

In [5]:
accident_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,12/28/2019,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,3/1/2020

In [61]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [7]:
accident_df.shape

(84262, 31)

#### Weather Event Data:

In [8]:
us_weather_events_df = pd.read_csv(os.path.join(wd,'US_WeatherEvents_2016-2019.csv'))

In [9]:
us_weather_events_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,1/7/2016 0:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,1/7/2016 4:14,1/7/2016 4:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,1/7/2016 5:54,1/7/2016 15:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,1/8/2016 5:34,1/8/2016 5:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,1/8/2016 13:54,1/8/2016 15:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [10]:
us_weather_events_df.columns

Index(['EventId', 'Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)',
       'TimeZone', 'AirportCode', 'LocationLat', 'LocationLng', 'City',
       'County', 'State', 'ZipCode'],
      dtype='object')

In [11]:
us_weather_events_df.shape

(1048575, 13)

#### Flight Data:

In [12]:
flights_df = pd.read_csv(os.path.join(wd,'Cleaned_2018_Flights.csv'))

In [13]:
flights_df.head()

,Unnamed: 0,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,0,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,672.87
1,1,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,367.68
2,2,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,417.94
3,3,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,247.10
4,4,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,276.35

In [14]:
flights_df.columns

Index(['Unnamed: 0', 'ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin',
       'OriginWac', 'Dest', 'DestWac', 'Miles', 'ContiguousUSA',
       'NumTicketsOrdered', 'AirlineCompany', 'PricePerTicket'],
      dtype='object')

In [15]:
flights_df.shape

(1048575, 14)

## EDA:

#### Aviation Accidents

In [65]:
accident_df.head(1)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,2019-12-31,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020

In [17]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [64]:
accident_df.isnull().sum()

Event.Id                      0
Investigation.Type            5
Accident.Number               0
Event.Date                    0
Location                     77
Country                     507
Latitude                  54099
Longitude                 54108
Airport.Code              36539
Airport.Name              33823
Injury.Severity               0
Aircraft.Damage            2709
Aircraft.Category         56754
Registration.Number        3850
Make                         70
Model                        99
Amateur.Built               609
Number.of.Engines          5034
Engine.Type                4256
FAR.Description           57056
Schedule                  72419
Purpose.of.Flight          4880
Air.Carrier               80093
Total.Fatal.Injuries      27203
Total.Serious.Injuries    29878
Total.Minor.Injuries      28670
Total.Uninjured           14589
Weather.Condition          3103
Broad.Phase.of.Flight      6608
Report.Status                 0
Publication.Date          14315
dtype: int64

In [54]:
set(accident_df["Investigation.Type"])

{'Accident', 'Incident', nan}

In [55]:
accident_df.groupby(['Investigation.Type'])["Event.Id"].nunique().to_frame()

                    Event.Id
Investigation.Type
Accident               79757
Incident                3273

In [60]:
accident_df.groupby(['Investigation.Type', 'Aircraft.Damage'])["Event.Id"].nunique().to_frame()

                                    Event.Id
Investigation.Type Aircraft.Damage
Accident           Destroyed           17842
                   Minor                 726
                   Substantial         60458
Incident           Destroyed               9
                   Minor                1895
                   Substantial            35

In [67]:
accident_df.groupby(['Investigation.Type', 'Injury.Severity'])["Event.Id"].nunique().to_frame().head()

                                    Event.Id
Investigation.Type Injury.Severity
Accident           Fatal(1)             8280
                   Fatal(10)              43
                   Fatal(102)              2
                   Fatal(103)              1
                   Fatal(104)              2

In [66]:
accident_df.groupby(['Investigation.Type', 'Injury.Severity'])["Event.Id"].nunique().to_frame().tail()

                                    Event.Id
Investigation.Type Injury.Severity
Accident           Fatal(96)               1
                   Fatal(97)               2
                   Non-Fatal           62828
                   Unavailable           315
Incident           Incident             3273

#### Conclusions from Aviation data exploration:

- should clean the nan from Investigation.Type
- all incidents involved no injuries
- Injury.Severity could be further cleaned for Fatal
- Event.Id can serve as primary key
- need to filter for 2018 only
- need to standardize some fields

### Weather Events

In [76]:
us_weather_events_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,2016-01-07 00:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,1/7/2016 4:14,2016-01-07 04:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,1/7/2016 5:54,2016-01-07 15:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,1/8/2016 5:34,2016-01-08 05:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,1/8/2016 13:54,2016-01-08 15:54:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [77]:
us_weather_events_2018_df.shape

(279428, 13)

In [78]:
set(us_weather_events_2018_df.TimeZone)

{'US/Central', 'US/Eastern', 'US/Mountain', 'US/Pacific'}

In [79]:
set(us_weather_events_2018_df.Type)

{'Cold', 'Fog', 'Hail', 'Precipitation', 'Rain', 'Snow', 'Storm'}

In [80]:
set(us_weather_events_2018_df.Severity)

{'Heavy', 'Light', 'Moderate', 'Other', 'Severe', 'UNK'}

#### Conclusions from Weather data exploration:

- dataset is fairly clean
- need to filter for 2018 only
- can probably key on AirportCode
- EventId can serve as primary key

## Preprocessing:

#### Aviation Accident Preprocessing Goals:
- events taking place in 2018
- events taking place in the United States
- standardize fields:
    - Make
    - Model
    - Injury.Severity
    - State/Location

In [194]:
def preprocess_accident_data(accident_df):
    """Preprocess raw accident data df."""
    # clean date field
    accident_df['Event.Date'] = pd.to_datetime(accident_df['Event.Date'])
    # filter for 2018
    accidents_2018 = accident_df[accident_df['Event.Date'].dt.year == 2018]
    # filter for US based events
    us_accidents_2018 = accidents_2018[accidents_2018['Country']=='United States']
    # standardize Make/Model fields
    us_accidents_2018['Make'] = us_accidents_2018['Make'].str.lower()
    us_accidents_2018['Model'] = us_accidents_2018['Model'].str.lower()
    # create State field
    us_accidents_2018['State'] = us_accidents_2018['Location'].str[-2:]
    
    # drop unnecessary features
    del us_accidents_2018['Country']
    del us_accidents_2018['Location']
    del us_accidents_2018['Latitude']
    del us_accidents_2018['Longitude']
    del us_accidents_2018['Airport.Name']
    del us_accidents_2018['Report.Status']
    del us_accidents_2018['Publication.Date']
    del us_accidents_2018['Schedule']
    del us_accidents_2018['Registration.Number']
    del us_accidents_2018['Accident.Number']
    del us_accidents_2018['Investigation.Type']
    del us_accidents_2018['Total.Fatal.Injuries']
    del us_accidents_2018['Total.Serious.Injuries']
    del us_accidents_2018['Total.Minor.Injuries']
    del us_accidents_2018['Total.Uninjured']
    
    # type cast date as string for merge
    us_accidents_2018['Event.Date'] = us_accidents_2018['Event.Date'].astype(str)
    
    return us_accidents_2018

In [195]:
us_accidents_2018 = preprocess_accident_data(accident_df)

c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # Remove the CWD from sys.path while we load stuff.
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  # This is added back by InteractiveShellApp.init_path()
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  del sys.path[0]
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [196]:
us_accidents_2018.head()

,Event.Id,Event.Date,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.Flight,Air.Carrier,Weather.Condition,Broad.Phase.of.Flight,State
1479,20181231X63848,2018-12-31,KCLT,Non-Fatal,Substantial,Airplane,boeing,757,No,2.0,NaN,Part 121: Air Carrier,NaN,American Airlines,IMC,NaN,NC
1480,20190108X15022,2018-12-30,KMYF,Non-Fatal,Substantial,Airplane,piper,pa46,No,1.0,Reciprocating,Part 91: General Aviation,Personal,NaN,VMC,LANDING,CA
1481,20181231X83429,2018-12-30,CDW,Non-Fatal,Substantial,Airplane,cessna,172,No,1.0,Reciprocating,Part 91: General Aviation,Instructional,NaN,VMC,TAKEOFF,NJ
1482,20181231X83152,2018-12-30,X04,Non-Fatal,Substantial,Airplane,cessna,lc41,No,NaN,Reciprocating,Part 91: General Aviation,Personal,NaN,VMC,GO-AROUND,FL
1483,20181231X45242,2018-12-30,SJX,Fatal(1),Substantial,Airplane,piper,pa 23,No,2.0,Reciprocating,Part 91: General Aviation,Personal,NaN,VMC,TAKEOFF,MI

In [165]:
us_accidents_2018.columns

Index(['Event.Id', 'Event.Date', 'Airport.Code', 'Injury.Severity',
       'Aircraft.Damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Purpose.of.Flight', 'Air.Carrier', 'Weather.Condition',
       'Broad.Phase.of.Flight', 'State'],
      dtype='object')

In [166]:
us_accidents_2018.shape

(1356, 17)

#### US Weather Events Preprocessing Goals:
- standardize datetime fields
- filter for events in 2018

In [25]:
us_weather_events_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,1/7/2016 0:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,1/7/2016 4:14,1/7/2016 4:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,1/7/2016 5:54,1/7/2016 15:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,1/8/2016 5:34,1/8/2016 5:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,1/8/2016 13:54,1/8/2016 15:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [197]:
def preprocess_weather_events(us_weather_events_df):
    """Preprocess raw weather events data."""
    # standardize date fields
    us_weather_events_df['EndTime(UTC)'] = pd.to_datetime(us_weather_events_df['EndTime(UTC)'])
    us_weather_events_df['Event.Date'] = us_weather_events_df['EndTime(UTC)'].dt.date
    
    # filter for 2018
    us_weather_events_2018_df = us_weather_events_df[us_weather_events_df['EndTime(UTC)'].dt.year == 2018]
    
    # remove unused features
    del us_weather_events_2018_df['TimeZone']
    del us_weather_events_2018_df['LocationLat']
    del us_weather_events_2018_df['LocationLng']
    del us_weather_events_2018_df['City']
    del us_weather_events_2018_df['County']
    del us_weather_events_2018_df['State']
    del us_weather_events_2018_df['ZipCode']
    del us_weather_events_2018_df['StartTime(UTC)']
    del us_weather_events_2018_df['EndTime(UTC)']
    
    # type cast date as string for merge
    us_weather_events_2018_df['Event.Date'] = us_weather_events_2018_df['Event.Date'].astype(str)
    
    return us_weather_events_2018_df

In [198]:
us_weather_events_2018_df = preprocess_weather_events(us_weather_events_df)

c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [199]:
us_weather_events_2018_df.head()

    EventId  Type Severity AirportCode  Event.Date
965   W-966  Rain    Light        K04V  2018-01-07
966   W-967  Snow    Light        K04V  2018-01-07
967   W-968  Snow    Light        K04V  2018-01-11
968   W-969  Snow    Light        K04V  2018-01-12
969   W-970  Snow    Light        K04V  2018-01-12

In [200]:
us_weather_events_2018_df.shape

(279428, 5)

#### US 2018 Flights Data Preprocessing Goals:
- Derive Airport.Code flight density metric to show how "busy" an airport is as a feature

In [129]:
flights_df.head()

,Unnamed: 0,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,0,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,672.87
1,1,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,367.68
2,2,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,417.94
3,3,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,247.10
4,4,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,276.35

In [140]:
def derive_flight_density(flights_df):
    """Derive flight density feature."""
    # aggregate data
    origin_density = flights_df.groupby(['Origin'])['ItinID'].nunique().to_frame().reset_index()
    destination_density = flights_df.groupby(['Dest'])['ItinID'].nunique().to_frame().reset_index()
    
    # merge and sum for volume
    airport_code_density = origin_density.merge(destination_density, how='inner', left_on='Origin', right_on='Dest')
    airport_code_density['Volume'] = airport_code_density['ItinID_x'] + airport_code_density['ItinID_y']
    # normalize
    airport_code_density['Flight_Density'] = round(airport_code_density['Volume']/airport_code_density['Volume'].max(),6)
    
    # remove unnecessary columns
    del airport_code_density['ItinID_x']
    del airport_code_density['ItinID_y']
    del airport_code_density['Dest']
    del airport_code_density['Volume']
    
    # rename columns
    airport_code_density.rename(columns={'Origin':'Airport.Code'},inplace=True)
    
    return airport_code_density

In [141]:
airport_code_density = derive_flight_density(flights_df)

In [142]:
airport_code_density.head()

  Airport.Code  Flight_Density
0          ABE        0.000028
1          ABQ        0.009092
2          ADK        0.000028
3          ADQ        0.000028
4          AGS        0.000028

### Merge dataset

#### Goals:
- add derived airport code density feature, key on Airport.Code
- add weather events data, key on airport code and event date

In [175]:
us_accidents_2018.head(1)

,Event.Id,Event.Date,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,Engine.Type,FAR.Description,Purpose.of.Flight,Air.Carrier,Weather.Condition,Broad.Phase.of.Flight,State
1479,20181231X63848,2018-12-31,KCLT,Non-Fatal,Substantial,Airplane,boeing,757,No,2.0,NaN,Part 121: Air Carrier,NaN,American Airlines,IMC,NaN,NC

In [177]:
us_weather_events_2018_df.head(1)

    EventId  Type Severity AirportCode  Event.Date
965   W-966  Rain    Light        K04V  2018-01-07

In [178]:
airport_code_density.head(1)

  Airport.Code  Flight_Density
0          ABE        0.000028

In [184]:
us_accidents_2018 = us_accidents_2018.merge(airport_code_density, how='left', on='Airport.Code')

In [201]:
merged_df = us_accidents_2018.merge(us_weather_events_2018_df, how='left', left_on=['Airport.Code','Event.Date'], right_on=['AirportCode','Event.Date'])

In [202]:
merged_df.head()

,Event.Id,Event.Date,Airport.Code,Injury.Severity,Aircraft.Damage,Aircraft.Category,Make,Model,Amateur.Built,Number.of.Engines,...,FAR.Description,Purpose.of.Flight,Air.Carrier,Weather.Condition,Broad.Phase.of.Flight,State,EventId,Type,Severity,AirportCode
0,20181231X63848,2018-12-31,KCLT,Non-Fatal,Substantial,Airplane,boeing,757,No,2.0,...,Part 121: Air Carrier,NaN,American Airlines,IMC,NaN,NC,NaN,NaN,NaN,NaN
1,20190108X15022,2018-12-30,KMYF,Non-Fatal,Substantial,Airplane,piper,pa46,No,1.0,...,Part 91: General Aviation,Personal,NaN,VMC,LANDING,CA,NaN,NaN,NaN,NaN
2,20181231X83429,2018-12-30,CDW,Non-Fatal,Substantial,Airplane,cessna,172,No,1.0,...,Part 91: General Aviation,Instructional,NaN,VMC,TAKEOFF,NJ,NaN,NaN,NaN,NaN
3,20181231X83152,2018-12-30,X04,Non-Fatal,Substantial,Airplane,cessna,lc41,No,NaN,...,Part 91: General Aviation,Personal,NaN,VMC,GO-AROUND,FL,NaN,NaN,NaN,NaN
4,20181231X45242,2018-12-30,SJX,Fatal(1),Substantial,Airplane,piper,pa 23,No,2.0,...,Part 91: General Aviation,Personal,NaN,VMC,TAKEOFF,MI,NaN,NaN,NaN,NaN

In [203]:
merged_df.columns

Index(['Event.Id', 'Event.Date', 'Airport.Code', 'Injury.Severity',
       'Aircraft.Damage', 'Aircraft.Category', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Purpose.of.Flight', 'Air.Carrier', 'Weather.Condition',
       'Broad.Phase.of.Flight', 'State', 'EventId', 'Type', 'Severity',
       'AirportCode'],
      dtype='object')

In [204]:
merged_df.shape

(1361, 21)