# Aviation Accident Prediction

### Summary:

- Data Sources:
    - Aviation Accidents: https://www.kaggle.com/khsamaha/aviation-accident-database-synopses?select=AviationData.csv
    - US Weather Events: https://www.kaggle.com/selfishgene/historical-hourly-weather-data
    - Flights: https://www.kaggle.com/zernach/2018-airplane-flights
    
- EDA & Preprocessing:

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
print(os.getcwd())

C:\Users\thoma\Desktop\Rutgers MBS\Learning_Directory\Aviation Accident Prediction Project

In [3]:
wd = os.getcwd()

In [4]:
accident_df = pd.read_csv(os.path.join(wd,'AviationData.csv'))

In [5]:
accident_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,12/28/2019,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,3/1/2020

In [6]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [7]:
accident_df.shape

(84262, 31)

In [57]:
accident_df.isnull()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,True,True,...,False,True,True,True,True,False,True,True,False,False
3,False,False,False,False,False,False,False,False,True,True,...,False,True,True,True,True,False,True,True,False,False
4,False,True,False,False,False,False,True,True,False,True,...,True,True,True,True,True,True,True,True,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,True,False,False,False,True,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,True,False,False,True,True,False,False,False,False,False
7,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,False,False,True
8,False,True,False,False,False,False,True,True,False,True,...,True,True,True,True,True,True,True,True,False,False
9,False,False,False,False,False,False,False,False,True,True,...,False,True,True,False,True,False,False,True,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,True,False,True,True,True,True,False,False,False
11,False,False,False,False,False,False,True,True,False,True,...,False,True,True,True,False,True,True,True,False,False
12,False,False,False,False,False,False,False,False,False,True,...,False,True,True,True,True,False,False,True,False,False
13,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,True,False,False
14,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
15,False,False,False,False,False,False,True,True,True,True,...,True,True,True,False,True,True,True,True,False,False
16,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,False,False
17,False,False,False,False,False,False,False,False,False,True,...,True,True,True,True,True,True,True,True,False,False
18,False,False,False,False,False,False,True,True,False,True,...,True,True,True,True,True,True,True,True,False,False
19,False,False,False,False,False,False,True,True,False,True,...,True,True,True,True,True,True,True,True,False,False
20,False,False,False,False,False,False,False,False,True,True,...,False,True,True,True,False,True,False,True,False,False
21,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
22,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,True,False,False,False,False,False
23,False,False,False,False,False,False,False,False,True,True,...,True,False,False,True,True,True,False,False,False,False
24,False,False,False,False,False,False,False,False,False,False,...,False,True,True,True,False,True,False,False,False,False
25,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,True,False,False
26,False,False,False,False,False,False,False,False,False,False,...,False,True,True,False,True,True,False,False,False,False
27,False,False,False,False,True,False,False,False,True,True,...,True,False,False,True,True,True,False,False,False,False
28,False,False,False,False,False,False,True,True,False,False,...,False,True,True,True,True,False,False,False,False,False
29,False,False,False,False,False,False,True,True,True,True,...,True,True,True,True,True,True,True,True,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84232,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84233,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84234,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84235,False,False,False,False,False,False,True,True,True,False,...,False,True,False,False,False,False,False,False,False,False
84236,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84237,False,False,False,False,False,False,True,True,True,False,...,False,True,False,False,False,False,False,False,False,False
84238,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84239,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84240,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84241,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84242,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84243,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84244,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84245,False,False,False,False,False,False,True,True,True,False,...,False,True,False,False,False,False,False,False,False,False
84246,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84247,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84248,False,False,False,False,False,False,True,True,False,True,...,False,False,False,False,False,False,False,False,False,False
84249,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84250,False,False,False,False,False,False,True,True,True,False,...,False,True,False,False,False,False,False,False,False,False
84251,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84252,False,False,False,False,False,False,True,True,False,False,...,False,True,False,False,False,False,False,False,False,False
84253,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84254,False,False,False,False,False,False,True,True,True,False,...,False,True,False,False,False,False,False,False,False,False
84255,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84256,False,False,False,False,False,False,False,False,True,True,...,True,False,True,True,False,False,False,False,False,False
84257,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,True,True,False,False,False,False
84258,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84259,False,False,False,False,False,False,False,False,True,True,...,False,True,False,True,True,True,False,False,False,False
84260,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,False
84261,False,False,False,False,False,False,True,True,True,True,...,False,True,False,False,False,False,False,False,False,True

In [54]:
set(accident_df["Investigation.Type"])

{'Accident', 'Incident', nan}

In [55]:
accident_df.groupby(['Investigation.Type'])["Event.Id"].nunique().to_frame()

                    Event.Id
Investigation.Type
Accident               79757
Incident                3273

In [8]:
us_weather_events_df = pd.read_csv(os.path.join(wd,'US_WeatherEvents_2016-2019.csv'))

In [9]:
us_weather_events_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,1/7/2016 0:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,1/7/2016 4:14,1/7/2016 4:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,1/7/2016 5:54,1/7/2016 15:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,1/8/2016 5:34,1/8/2016 5:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,1/8/2016 13:54,1/8/2016 15:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [10]:
us_weather_events_df.columns

Index(['EventId', 'Type', 'Severity', 'StartTime(UTC)', 'EndTime(UTC)',
       'TimeZone', 'AirportCode', 'LocationLat', 'LocationLng', 'City',
       'County', 'State', 'ZipCode'],
      dtype='object')

In [11]:
us_weather_events_df.shape

(1048575, 13)

In [12]:
flights_df = pd.read_csv(os.path.join(wd,'Cleaned_2018_Flights.csv'))

In [13]:
flights_df.head()

,Unnamed: 0,ItinID,MktID,MktCoupons,Quarter,Origin,OriginWac,Dest,DestWac,Miles,ContiguousUSA,NumTicketsOrdered,AirlineCompany,PricePerTicket
0,0,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,672.87
1,1,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,367.68
2,2,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,417.94
3,3,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,247.10
4,4,2.018177e+10,2.018180e+12,1,1,PHL,23,LAX,91,2402,2,1,AA,276.35

In [14]:
flights_df.columns

Index(['Unnamed: 0', 'ItinID', 'MktID', 'MktCoupons', 'Quarter', 'Origin',
       'OriginWac', 'Dest', 'DestWac', 'Miles', 'ContiguousUSA',
       'NumTicketsOrdered', 'AirlineCompany', 'PricePerTicket'],
      dtype='object')

In [15]:
flights_df.shape

(1048575, 14)

## EDA & PreProcessing:

#### Aviation Accidents

In [16]:
accident_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.Flight,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date
0,20200102X82407,Accident,WPR20CA055,12/31/2019,"Elk, CA",United States,39.128611,-123.715833,LLR,Little River,...,Personal,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Factual,13/01/2020
1,20191231X83852,Accident,CEN20FA049,12/31/2019,"OLATHE, KS",United States,38.846111,-94.736111,OJC,Johnson County Executive,...,Personal,NaN,2.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,8/1/2020
2,20200102X54844,Accident,ANC20CA011,12/31/2019,"Fairbanks, AK",United States,64.666945,-148.133334,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,2.0,NaN,NaN,Preliminary,2/1/2020
3,20191230X91852,Accident,CEN20CA048,12/30/2019,"GRANBURY, TX",United States,32.365556,-97.645000,NaN,NaN,...,Personal,NaN,NaN,NaN,NaN,1.0,NaN,NaN,Preliminary,31/12/2019
4,20191228X62945,NaN,WPR20CA053,12/28/2019,"Missoula, MT",United States,NaN,NaN,MSO,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Preliminary,3/1/2020

In [17]:
accident_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date'],
      dtype='object')

In [18]:
accident_df['Event.Date'] = pd.to_datetime(accident_df['Event.Date'])

In [19]:
accidents_2018 = accident_df[accident_df['Event.Date'].dt.year == 2018]

In [20]:
us_accidents_2018 = accidents_2018[accidents_2018['Country']=='United States']

In [21]:
us_accidents_2018['Make'] = us_accidents_2018['Make'].str.lower()
us_accidents_2018['Model'] = us_accidents_2018['Model'].str.lower()

c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [22]:
us_accidents_2018['State'] = us_accidents_2018['Location'].str[-2:]

c:\users\thoma\appdata\local\programs\python\python36\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
us_accidents_2018.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date,State
1479,20181231X63848,Accident,DCA19CA066,2018-12-31,"Charlotte, NC",United States,35.213611,-80.948889,KCLT,Charlotte Douglas,...,American Airlines,NaN,NaN,NaN,NaN,IMC,NaN,Preliminary,16/05/2019,NC
1480,20190108X15022,Accident,WPR19LA060,2018-12-30,"San Diego, CA",United States,32.815833,-117.139444,KMYF,Montgomer-Gibbs Executive Airp,...,NaN,NaN,NaN,NaN,4.0,VMC,LANDING,Preliminary,26/02/2019,CA
1481,20181231X83429,Accident,GAA19CA106,2018-12-30,"Caldwell, NJ",United States,40.875556,-74.278334,CDW,ESSEX COUNTY,...,NaN,NaN,NaN,NaN,1.0,VMC,TAKEOFF,Probable Cause,26/09/2019,NJ
1482,20181231X83152,Accident,ERA19LA081,2018-12-30,"Apopka, FL",United States,28.702778,-81.586666,X04,Apopka Airport,...,NaN,NaN,NaN,NaN,1.0,VMC,GO-AROUND,Preliminary,7/2/2019,FL
1483,20181231X45242,Accident,CEN19LA051,2018-12-30,"Beaver Island, MI",United States,45.696111,-85.568334,SJX,Beaver Island,...,NaN,1.0,NaN,NaN,NaN,VMC,TAKEOFF,Preliminary,30/01/2019,MI

In [24]:
us_accidents_2018.shape

(1356, 32)

#### US Weather Events

In [25]:
us_weather_events_df.head()

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,1/7/2016 0:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
1,W-2,Snow,Light,1/7/2016 4:14,1/7/2016 4:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
2,W-3,Snow,Light,1/7/2016 5:54,1/7/2016 15:34,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
3,W-4,Snow,Light,1/8/2016 5:34,1/8/2016 5:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0
4,W-5,Snow,Light,1/8/2016 13:54,1/8/2016 15:54,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [26]:
us_weather_events_df['EndTime(UTC)'] = pd.to_datetime(us_weather_events_df['EndTime(UTC)'])

In [27]:
us_weather_events_2018_df = us_weather_events_df[us_weather_events_df['EndTime(UTC)'].dt.year == 2018]

In [28]:
us_weather_events_2018_df.shape

(279428, 13)

In [29]:
set(us_weather_events_2018_df.TimeZone)

{'US/Central', 'US/Eastern', 'US/Mountain', 'US/Pacific'}

In [30]:
set(us_weather_events_2018_df.Type)

{'Cold', 'Fog', 'Hail', 'Precipitation', 'Rain', 'Snow', 'Storm'}

In [31]:
set(us_weather_events_2018_df.Severity)

{'Heavy', 'Light', 'Moderate', 'Other', 'Severe', 'UNK'}

#### Merged

In [32]:
us_accidents_2018.head(1)

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Air.Carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.Phase.of.Flight,Report.Status,Publication.Date,State
1479,20181231X63848,Accident,DCA19CA066,2018-12-31,"Charlotte, NC",United States,35.213611,-80.948889,KCLT,Charlotte Douglas,...,American Airlines,NaN,NaN,NaN,NaN,IMC,NaN,Preliminary,16/05/2019,NC

In [33]:
us_weather_events_df.head(1)

,EventId,Type,Severity,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State,ZipCode
0,W-1,Snow,Light,1/6/2016 23:14,2016-01-07 00:34:00,US/Mountain,K04V,38.0972,-106.1689,Saguache,Saguache,CO,81149.0

In [34]:
merged_df = us_accidents_2018.merge(us_weather_events_df, how='left', left_on='Airport.Code', right_on='AirportCode')

In [35]:
merged_df.head()

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,StartTime(UTC),EndTime(UTC),TimeZone,AirportCode,LocationLat,LocationLng,City,County,State_y,ZipCode
0,20181231X63848,Accident,DCA19CA066,2018-12-31,"Charlotte, NC",United States,35.213611,-80.948889,KCLT,Charlotte Douglas,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,20190108X15022,Accident,WPR19LA060,2018-12-30,"San Diego, CA",United States,32.815833,-117.139444,KMYF,Montgomer-Gibbs Executive Airp,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,20181231X83429,Accident,GAA19CA106,2018-12-30,"Caldwell, NJ",United States,40.875556,-74.278334,CDW,ESSEX COUNTY,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,20181231X83152,Accident,ERA19LA081,2018-12-30,"Apopka, FL",United States,28.702778,-81.586666,X04,Apopka Airport,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,20181231X45242,Accident,CEN19LA051,2018-12-30,"Beaver Island, MI",United States,45.696111,-85.568334,SJX,Beaver Island,...,NaN,NaT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [36]:
merged_df.columns

Index(['Event.Id', 'Investigation.Type', 'Accident.Number', 'Event.Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport.Code',
       'Airport.Name', 'Injury.Severity', 'Aircraft.Damage',
       'Aircraft.Category', 'Registration.Number', 'Make', 'Model',
       'Amateur.Built', 'Number.of.Engines', 'Engine.Type', 'FAR.Description',
       'Schedule', 'Purpose.of.Flight', 'Air.Carrier', 'Total.Fatal.Injuries',
       'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured',
       'Weather.Condition', 'Broad.Phase.of.Flight', 'Report.Status',
       'Publication.Date', 'State_x', 'EventId', 'Type', 'Severity',
       'StartTime(UTC)', 'EndTime(UTC)', 'TimeZone', 'AirportCode',
       'LocationLat', 'LocationLng', 'City', 'County', 'State_y', 'ZipCode'],
      dtype='object')

In [37]:
merged_df.groupby(['Airport.Code'])['Event.Id'].nunique().to_frame().sort_values('Event.Id',ascending=False).head(10)

              Event.Id
Airport.Code
PVT                 27
CXP                  6
SEF                  5
DVT                  5
VNY                  4
BJC                  4
SPK                  4
GMU                  4
OSH                  4
ADS                  3

In [38]:
merged_df.groupby(['Type','Severity'])['Event.Id'].nunique().to_frame().sort_values('Event.Id',ascending=False).head(25)

                        Event.Id
Type          Severity
Cold          Severe           9
Fog           Moderate         9
              Severe           9
Rain          Light            9
Precipitation UNK              8
Rain          Heavy            8
              Moderate         8
Snow          Light            8
              Moderate         7
              Heavy            6
Storm         Severe           6
Hail          Other            3

In [39]:
merged_df.groupby(['Type','Severity'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(25)

                        Accident.Number
Type          Severity
Cold          Severe                 11
Fog           Moderate               11
              Severe                 11
Rain          Light                  11
Snow          Light                  10
Precipitation UNK                     9
Rain          Heavy                   9
              Moderate                9
Snow          Moderate                8
              Heavy                   7
Storm         Severe                  7
Hail          Other                   3

In [40]:
merged_df.groupby(['Airport.Name'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(25)

                                Accident.Number
Airport.Name
Private                                      15
Private Airstrip                              5
CARSON                                        5
VAN NUYS                                      4
RENO/STEAD                                    4
SPANISH FORK ARPT SPRINGVILLE-                4
Wittman Rgnl                                  3
WICKENBURG MUNI                               3
SKAGIT RGNL                                   3
PHOENIX DEER VALLEY                           3
NEPHI MUNI                                    3
RYAN FIELD                                    3
CHANDLER MUNI                                 3
SEBRING RGNL                                  3
BOZEMAN YELLOWSTONE INTL                      3
Culpeper Rgnl                                 3
PVT                                           3
PORTLAND-HILLSBORO                            3
CLERMONT COUNTY                               3
REPUBLIC                                      3
LAKE HOOD                                     3
PALATKA MUNI - LT KAY LARKIN F                3
CORONA MUNI                                   3
Greenville Downtown                           3
Sebring Regional Airport                      3

In [41]:
merged_df.groupby(['Aircraft.Category'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(25)

                   Accident.Number
Aircraft.Category
Airplane                      1155
Helicopter                     131
Glider                          24
Gyroplane                       17
Weight-Shift                    15
Balloon                          8
Powered Parachute                5
Ultralight                       1

In [42]:
merged_df.groupby(['Purpose.of.Flight'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(25)

                           Accident.Number
Purpose.of.Flight
Personal                               862
Instructional                          203
Aerial Application                      51
Business                                40
Positioning                             25
Aerial Observation                      24
Other Work Use                          17
Ferry                                   13
Flight Test                              9
Air Race/Show                            8
External Load                            7
Skydiving                                6
Banner Tow                               4
Public Aircraft - Federal                4
Glider Tow                               3
Executive/Corporate                      3
Firefighting                             2
Public Aircraft                          2
Unknown                                  2
Public Aircraft - Local                  1
Public Aircraft - State                  1
Air Drop                                 1

In [43]:
merged_df.groupby(['Make','Model','Purpose.of.Flight'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                                Accident.Number
Make   Model Purpose.of.Flight
cessna 172   Personal                        46
             Instructional                   44
piper  pa28  Personal                        29
cessna 182   Personal                        26
piper  pa28  Instructional                   25
cessna 180   Personal                        16
piper  pa18  Personal                        14
cessna 150   Personal                        12
cirrus sr22  Personal                        11
cessna 140   Personal                        10

In [44]:
merged_df.groupby(['Make'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

             Accident.Number
Make
cessna                   353
piper                    210
beech                     79
bell                      26
robinson                  23
mooney                    17
vans                      16
cirrus                    16
boeing                    15
air tractor               15

In [45]:
merged_df.groupby(['Make','Model'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                Accident.Number
Make     Model
cessna   172                 97
piper    pa28                55
cessna   182                 34
         180                 19
piper    pa18                18
cessna   150                 17
         152                 16
robinson r44                 14
cirrus   sr22                13
cessna   a185                13

In [46]:
merged_df.groupby(['Amateur.Built'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

               Accident.Number
Amateur.Built
No                        1156
Yes                        196

In [47]:
merged_df.groupby(['Number.of.Engines'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                   Accident.Number
Number.of.Engines
1.0                           1077
2.0                            122
0.0                             13
3.0                              1

In [48]:
merged_df.groupby(['Make','Type','Severity'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(25)

                                               Accident.Number
Make                   Type          Severity
piper                  Rain          Moderate                3
                                     Light                   3
                                     Heavy                   3
                       Precipitation UNK                     3
                       Fog           Severe                  3
                                     Moderate                3
                       Cold          Severe                  3
ryan                   Fog           Moderate                2
                       Cold          Severe                  2
piper                  Snow          Light                   2
                                     Moderate                2
ryan                   Fog           Severe                  2
                       Rain          Light                   2
                       Snow          Light                   2
piper                  Storm         Severe                  1
north american         Snow          Light                   1
                       Rain          Light                   1
piper                  Hail          Other                   1
north american         Fog           Severe                  1
                                     Moderate                1
piper                  Snow          Heavy                   1
north american         Cold          Severe                  1
beech                  Cold          Severe                  1
rockwell international Fog           Severe                  1
                       Cold          Severe                  1

In [49]:
merged_df.groupby(['State_x'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

         Accident.Number
State_x
FL                   122
CA                   120
TX                   116
AK                    94
AZ                    63
WA                    47
NY                    37
GA                    37
CO                    33
OH                    33

In [50]:
merged_df.groupby(['State_x','Type','Severity'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                                Accident.Number
State_x Type          Severity
AL      Cold          Severe                  2
ID      Precipitation UNK                     2
        Rain          Light                   2
        Snow          Heavy                   2
                      Light                   2
                      Moderate                2
        Storm         Severe                  2
TX      Storm         Severe                  2
        Snow          Moderate                2
AL      Fog           Moderate                2

In [51]:
merged_df.groupby(['Broad.Phase.of.Flight'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                       Accident.Number
Broad.Phase.of.Flight
LANDING                            422
TAKEOFF                            260
MANEUVERING                        133
APPROACH                           110
CRUISE                              80
TAXI                                43
CLIMB                               29
DESCENT                             27
GO-AROUND                           23
STANDING                            13

In [52]:
merged_df.groupby(['Purpose.of.Flight','Broad.Phase.of.Flight'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

                                          Accident.Number
Purpose.of.Flight  Broad.Phase.of.Flight
Personal           LANDING                            288
                   TAKEOFF                            168
Instructional      LANDING                             83
Personal           APPROACH                            81
                   MANEUVERING                         54
                   CRUISE                              53
Instructional      TAKEOFF                             40
Aerial Application MANEUVERING                         25
Personal           TAXI                                21
                   DESCENT                             18

In [53]:
merged_df.groupby(['TimeZone'])['Accident.Number'].nunique().to_frame().sort_values('Accident.Number',ascending=False).head(10)

             Accident.Number
TimeZone
US/Central                 4
US/Mountain                3
US/Eastern                 2
US/Pacific                 2